<template>
  <require from="../resources/elements/poi-form"></require>
  <require from="../resources/elements/poi-list"></require>
  <require from="../resources/elements/poi-map"></require>


  <div class="ui stackable grid">
    <div class="fifteen wide column">
      <poi-form pois.bind="pois"></poi-form>
    </div>
  </div>
  <div class="ui stackable grid">
    <div class="seven wide column">
      <poi-map></poi-map>
    </div>
    <div class="seven wide column">
      <poi-list pois.bind="pois"></poi-list>
    </div>
  </div>
</template>
